@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Source+Code+Pro:wght@300&display=swap');

html, body, figure, div, input, textarea, p, h1, h2, h3, h4, h5, h6, ul, summary, footer, main, aside, section{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
}
#win {
    text-align: center;
    color: red;
    height: 100px;
    display: flex;
    align-items: center;
}

#win h1 {
    display: none;
}
body {
    display: flex;
    justify-content: flex-start;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    font-family: 'Comfortaa', cursive;
    background-image:url("/img/background.png") ;
}

.main {
    padding: 20px 0;
    width: 85%;
    min-width: 300px;
    height: 25%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.text {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 15px;
    font-size: 18px;
}

.towers {
    width: 200px;
    border: 1px solid;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
}

#tower {
    width: 8px;
    height: 99px;
    background: black;
    position:absolute;
    z-index: -1;
}

#d4{
    width: 90px;
    height: 13px;
    background: cornflowerblue;
    border: 1px solid black;
    border-radius: 5px;
}

#d3{
    width: 75px;
    height: 13px;
    background:chartreuse;
    border: 1px solid black;
    border-radius: 5px;
}

#d2{
    width: 50px;
    height: 13px;
    background:chocolate;
    border: 1px solid black;
    border-radius: 5px;
}

#d1{
    width: 30px;
    height: 13px;
    background:darkcyan;
    border: 1px solid black;
    border-radius: 5px;
}
#d1:hover{
    border: 2px solid red;
}
#d2:hover{
    border: 2px solid red;
}
#d3:hover{
    border: 2px solid red;
}
#d4:hover{
    border: 2px solid red;
}

.container {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#danger {
    width: 100%;
    max-width: 400px;
    height: 50px;
    margin-top: 25px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

header {
    width: 100%;
    text-align: center;
}

header p {
    margin-top: 50px;
    font-size: 30px;
}

#btnReset {
    width: 135px;
    padding: 13px 0;
    font-size: 15px;
    border: none;
    background: rgb(93, 233, 93);
    border-radius: 8px;
}
.instrucoes{
    text-align: justify;
    color: black;
    font-size: 0.8rem;
    padding: 10px;
    margin-bottom: 25px;
    box-sizing: border-box;
}
.instrucoes h2{
    text-align: center; 
    font-size: 1rem;
    margin-bottom: 10px;
}
.instrucoes li {
    padding: 2px;
}

@media screen and (min-width: 600px) {
   
    .main {
        width: 85%;
        justify-content: space-around;
        height: 210px;
    }

    .towers {
        height: 200px;
    }

    .container {
        height: 500px;
    }

    #tower {
        width: 11px;
        height: 199px;
    }
   
    #d4{
        width: 150px;
        height: 20px;
        background: cornflowerblue;
        border: 1px solid black;
        border-radius: 5px;
    }
    
    #d3{
        width: 120px;
        height: 20px;
        background:chartreuse;
        border: 1px solid black;
        border-radius: 5px;
    }
    
    #d2{
        width: 90px;
        height: 20px;
        background:chocolate;
        border: 1px solid black;
        border-radius: 5px;
    }
    
    #d1{
        width: 60px;
        height: 20px;
        background:darkcyan;
        border: 1px solid black;
        border-radius: 5px;
    }   
}

@media screen and (min-width: 850px) {

    .container {
        max-width: 900px;
    }

    .text {
        max-width: 790px;
    }

    #tower {
     height: 199px;   
    }

    #d4{
        width: 150px;
        height: 23px;
        background: cornflowerblue;
        border: 1px solid black;
        border-radius: 5px;
    }
    
    #d3{
        width: 120px;
        height: 23px;
        background:chartreuse;
        border: 1px solid black;
        border-radius: 5px;
    }
    
    #d2{
        width: 90px;
        height: 23px;
        background:chocolate;
        border: 1px solid black;
        border-radius: 5px;
    }
    
    #d1{
        width: 60px;
        height: 23px;
        background:darkcyan;
        border: 1px solid black;
        border-radius: 5px;
    } 

    .instrucoes{
        font-size: 1rem;
    }

}